<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.db.dao.interfaces.ICustomerDAO">

    <resultMap id="CustomerResultMap" type="Customer" autoMapping="false">
        <id property="customerId" column="customer_id"/>
        <association property="person" column="person_id" javaType="Person"
                     select="com.solvd.db.dao.interfaces.IPersonDAO.getById"/>
        <collection property="accounts" column="account_number" ofType="Account" javaType="ArrayList"
                    resultMap="com.solvd.db.dao.interfaces.IAccountDAO.AccountResultMap" />
    </resultMap>

    <insert id="insert" parameterType="Customer"
            keyProperty="customerId" keyColumn="customer_id" useGeneratedKeys="true">
        INSERT INTO customers(person_id)
        VALUES (#{person.personId})
    </insert>

    <select id="getById" parameterType="int" resultMap="CustomerResultMap">
        SELECT ca.account_number as account_number, c.customer_id AS customer_id, c.person_id AS person_id
        FROM customers c
        INNER JOIN customers_has_accounts ca ON c.customer_id = ca.customer_id
        WHERE c.customer_id = #{customerId}
    </select>

    <update id="update" parameterType="Customer">
        UPDATE customers
        SET person_id = #{personId}
        WHERE customer_id = #{customerId}
    </update>

    <delete id="delete" parameterType="Customer">
        DELETE FROM customers
        WHERE customer_id = #{customerId}
    </delete>

    <select id="getAll" resultMap="CustomerResultMap" >
        SELECT *
        FROM customers
        JOIN customers_has_accounts ON customers.customer_id = customers_has_accounts.customer_id
    </select>

    <select id="getCustomerByPhone" parameterType="String" resultMap="CustomerResultMap">
        SELECT  ca.account_number AS account_number, c.customer_id AS customer_id, c.person_id AS person_id
        FROM customers c
        JOIN persons p ON c.person_id = p.person_id
        JOIN customers_has_accounts ca ON c.customer_id = ca.customer_id
        WHERE p.phone_number = #{phoneNumber}
    </select>
</mapper>